<h3>お問合わせいただき、誠にありがとうございました。</h3><br>

<h3>お問合せ内容を確認させていただき、後ほどご回答させていただきます。</h3><br>

<h3>恐れ入りますが、今しばらくお待ちいただけますよう、よろしくお願い申し上げます。</h3><br>

<%= link_to "トップページへ戻る", "/", class:"btn btn-default btn-lg" %>