<br><br>

<%= image_tag(@leftcard) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= image_tag(@rightcard) %><br><br>

<% if @leftcard < @rightcard %>
    <% result = "high" %>
<% elsif @leftcard > @rightcard %>
    <% result = "low" %>
<% else %>
     <% result = @radio %>
<% end %>

<% if @radio == result %>
    <h3>You win!!</h3>
<% else %>
    <h3>You lose... </h3>
<% end %>

<br><br>

<%= button_to "もう一度挑戦！！", {controller: 'cards', action: 'index'}, {method: :get, class: "btn btn-default btn-lg"} %>
<%# button_toは自動的にpost送信になる。getを指定する。%>