<div class = "rule">

<h2>High and Low Gameのルール</h2><br><br>

<p>右側の隠れているトランプの数字が、左側に表示されているトランプより大きいか、小さいか推測するゲームです。</p><br>

<p>①右側のトランプが大きいと思えば「high」を、小さいと思えば「low」を選択してください。</p><br>

<p>②「決定」ボタンを押し、次に進めば勝敗がわかります。</p><br>

<p>*左側と右側どちらも同じ数字が表示された場合、high, lowどちらを選択しても勝ちになります。</p>
<p>*ジョーカーは、一番大きい数字として扱います。</p>

</div>